#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 5px;
}

#toc .toc-h2 {
    padding-left: 15px;
}

#toc .toc-h3 {
    padding-left: 25px;
}

#toc .toc-active {
    border-left: 2px solid #18bc9c;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

body {
	padding-bottom: 200px;
}

.flashcard {
  height: 300px;
  width: 100%;
  cursor: pointer;
}

.card-design {
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 3px;
}

.flashcard .front {
  background-color: #ECF0F1;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
}

.flashcard .back {
  background-color: #ECF0F1;
  padding: 5px 5px 5px 5px;
}

#graphvis {
  width:100%;
  height: 450px;
  background-color: #fef7e1;
}

#search-box {
  background-color: silver;
  margin-top: 30px;
}

#search-box-input {
  width: 100%;
  font-size: 20px;
}

.tt-menu {
  background-color: red;
  width: 300px;
  margin-top: 3px;
}