{% extends "bootstrap/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/themes/flaty-bootstrap.min.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/nprogress.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/app.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/visjs/vis.js')}}"></script>
<script src="{{url_for('.static', filename='js/mousetrap.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/nprogress.js')}}"></script>
<script src="{{url_for('.static', filename='js/typeahead.bundle.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/kgraph.js')}}"></script>
{% endblock %}

{% block content %}
<div id="graphvis"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="search-box">
  					<input class="typeahead mousetrap" id="search-box-input" type="text" placeholder="Search...">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="page-header">
					<h1>Notebooks</h1>
				</div>
				<ul class="list-group">
					{% for notebook in notebooks %}
						<a href="{{ notebook.slug }}" class="list-group-item">
							<h4 class="list-group-item-heading"><span class="text-primary">{{notebook.title}}</span></h4>
			    			<p class="list-group-item-text">{{notebook.desc}}</p>
		    			</a>
					{% endfor %}
				</ul>
				<hr>
				<a class="btn btn-primary" href="/new?m=edit" role="button">Add New</a>
			</div>
		</div>
	</div>
 {% endblock %}