{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/app.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/default.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/themes/flaty-bootstrap.min.css')}}">

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/toc.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/jquery.sticky.js')}}"></script>
<script src="{{url_for('.static', filename='js/app.js')}}"></script>
{% endblock %}

{% block title %}{{metadata.title}}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li class="active">{{metadata.title}}</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="page-header">
					<h1>{{metadata.title}}
					<small>{{metadata.desc}}</small>
					</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div id="notebook-content" class="page-content">
					<p>
						{{notebook.content|safe}}
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<div id="side-bar">
					<div id="toc"></div>
					<hr>
					<a class="btn btn-default btn-sm" href="?m=edit" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
				</div>
			</div>
		</div>
	</div>
 {% endblock %}