{% extends "bootstrap/base.html" %}

{% block title %}{{notebook.title}}{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/themes/flaty-bootstrap.min.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/codemirror/codemirror.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/codemirror/eclipse.css')}}">
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/app.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/toc.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/codemirror/codemirror.js')}}"></script>
<script src="{{url_for('.static', filename='js/codemirror/modes/markdown.js')}}"></script>
<script src="{{url_for('.static', filename='js/app-editor.js')}}"></script>

{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<ol class="breadcrumb">
		  			<li><a href="/">Home</a></li>
		  			<li class="active">{{notebook.title}}</li>
				</ol>
				<form action="" method="POST">
					<div class="form-group">
    					<input name="title" type="text" class="form-control" id="notebookTitle" placeholder="Enter title" value="{{notebook.title}}">
  					</div>
  					<div class="form-group">
    					<input name="desc" type="text" class="form-control" id="notebookDesc" placeholder="Enter description" value="{{notebook.desc}}">
  					</div>
  					<div class="form-group">
						<textarea id="notebook-editor" name="content" class="form-control" placeholder="Notebook content" rows="10">{{notebook.content}}</textarea>
					</div>
					<div class="form-group">
  						<button type="submit" class="btn btn-primary pull-right">Save</button>
  					</div>
				</form>
			</div>
		</div>
	</div>
 {% endblock %}